/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  font-family: "Microsoft JhengHei", PMingLiU, MingLiu, "Segoe UI", "Helvetica", Garuda, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header li {
  margin-right: 60px;
}

.header li a {
  color: #3F5D45;
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
}

.header li:last-child {
  margin-right: 0px;
}

.header-img {
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.burger-Menu {
  display: none;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
  padding: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header li:nth-child(1), .header li:nth-child(2), .header li:nth-child(3) {
    display: none;
  }
  .header li:last-child {
    padding-right: 20px;
  }
  .header-img {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
    background-position: top center;
    width: 116px;
    height: 20px;
  }
  .burger-Menu {
    display: block;
  }
}

.banner {
  display: block;
  margin-top: 30px;
  margin-bottom: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside {
  width: 32%;
  white-space: nowrap;
}

.aside li:first-child {
  font-size: 24px;
  line-height: 33px;
  padding: 16px 102px;
  font-weight: bold;
  text-align: center;
  background-color: #3F5D45;
  color: #EAF0ED;
}

.aside a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  line-height: 33px;
  padding: 16px 62px;
  font-weight: bold;
  color: #3F5D45;
  text-align: center;
  border: 1px solid #EAF0ED;
  background-color: #fff;
}

.aside a:hover {
  background-color: #EAF0ED;
}

.productCard {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.productCard img {
  display: block;
}

.productCard li {
  width: 46%;
  margin-left: 4%;
  margin-bottom: 20px;
  position: relative;
}

.productCard li img {
  width: 100%;
}

.productCard li .addCart {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #3F5D45;
  font-weight: bold;
  background-color: #EAF0ED;
}

.productCard li .addCart:hover {
  background-color: #3F5D45;
  color: #EAF0ED;
}

.special {
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 10px;
  color: #EAF0ED;
  background-color: #3F5D45;
}

.favorite_border {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.favorite_border img {
  display: block;
}

.productCard-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #3F5D45;
  font-weight: bold;
}

.productCard-text h2 {
  width: 58%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #EAF0ED;
}

.productCard-text .price {
  width: 42%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #EAF0ED;
}

.changePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

.changePage a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3F5D45;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
}

.changePage a:hover {
  background-color: #3F5D45;
  color: #EAF0ED;
}

.changePage .arrow a:hover {
  background-color: #EAF0ED;
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: 0;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aside {
    width: 100%;
    margin-bottom: 30px;
  }
  .productCard, .changePage {
    width: 100%;
    padding-right: 4%;
  }
}

@media (max-width: 600px) {
  .productCard li {
    width: 96%;
  }
}

footer {
  background-color: #EAF0ED;
}

.footer-email {
  background-color: #3F5D45;
}

.footer-email .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EAF0ED;
  padding: 38px 0;
}

.email-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-text img {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.email-text h3 {
  font-size: 24px;
  line-height: 29px;
}

.form-container {
  background-color: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.form-container img {
  width: 24px;
  height: 24px;
  margin: 16px 20px;
}

.form-container input[type=email] {
  width: 100%;
  display: block;
  border: none;
  padding: 16px;
  background-color: #EAF0ED;
}

.form-container .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
  width: 64px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFE180;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-email .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-text {
    margin-bottom: 30px;
  }
  .form-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .email-text h3 {
    font-size: 20px;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.footer-left ul {
  margin-bottom: 30px;
}

.footer-left li {
  line-height: 24px;
  color: #3F5D45;
}

.footerLogo {
  display: block;
  max-width: 171px;
  margin-bottom: 115px;
}

.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerLinks a {
  display: block;
  margin-right: 10px;
}

.footerLinks img {
  width: 32px;
  height: 32px;
}

.footer-right h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 6.5px;
  font-family: 'Noto Serif TC', serif;
  color: #3F5D45;
  float: right;
}

.footer-right p {
  color: #3F5D45;
  clear: both;
}

@media (max-width: 768px) {
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10%;
  }
  .footerLogo {
    margin-bottom: 40px;
  }
  .footer-right h2 {
    display: none;
  }
  .footerLinks {
    margin-bottom: 20px;
  }
}

@media (max-width: 940px) {
  .header, .footer-email .wrap, .footer-info {
    padding-right: 4%;
    padding-left: 4%;
  }
}
/*# sourceMappingURL=style.css.map */