a:hover {
    color:plum;
}

.title {
    font-size: 26px;
    border-left:6px solid red;
    border-bottom:10px solid red;
    font-weight: bold;
}

img {
    border:8px solid powderblue;
}

.line {
    text-decoration: line-through;
}